<%= render "shared/edit_header"%>
<%= javascript_pack_tag 'registrations/preview' %>

<%= form_with model: @user, url: user_registration_path, local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="edit-wrapper">
    <% if @user.avatar.attached?%>
      <div class= 'true-avatar-container'>
        <%= image_tag @user.avatar.variant(gravity: :center, resize:"320x320^", crop:"320x320+0+0").processed,  class:'edit-avatar'%>
      </div>
      <div id="avatar-list">
      </div>
    <%else%>
        <div class='else-avatar-container'>
          <%= image_tag ("avatar.png"), class:'else-edit-avatar'%>
          <div id="avatar-list"></div>
        </div>
    <% end %>
     
    <p class="edit-avatar-text">
      クリックして写真をアップロード
    </p>
    <div class="edit-avatar-upload">
      <%= f.file_field :avatar, class: 'edit-avatar'%>
     </div> 
    <div class="edit-profile-container">
      <%= f.text_area :profile, class: 'edit-profile', placeholder: "プロフィールを編集してみよう！"%>
    </div>

    <div class='edit-profile-btn'>
    <%= f.submit "変更する" ,class: 'edit-btn'%>
    </div>

  </div>
<% end %>