<%= render "shared/edit_header"%>
<%= javascript_pack_tag 'registrations/preview' %>

<%= form_with model: @user, url: user_registration_path, local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="edit-wrapper">
    <% if @user.avatar.attached?%>
        <%= image_tag @user.avatar, class:'edit-avatar'%>
        <div id="avatar-list"></div>
    <%else%>
        <div class='else-avatar-container'>
          <%= image_tag ("avatar.png"), class:'else-edit-avatar'%>
          <div id="avatar-list"></div>
        </div>
    <% end %>
     
    <p class="edit-avatar-text">
      クリックして写真をアップロード
    </p>
    <div class="edit-avatar-upload">
      <%= f.file_field :avatar, class: 'edit-avatar'%>
     </div> 
    <div class="edit-profile-container">
      <%= f.text_area :profile, class: 'edit-profile'%>
    </div>

    <div class='post-new-btn'>
    <%= f.submit "変更する" ,class: 'post-new'%>
    </div>

  </div>
<% end %>