<%= render 'shared/post_header'%>
<div class='user-account-container'>
  <div class='user-header-icon'>
    <% if @user.avatar.attached?%>
      <%= image_tag @user.avatar, class:'avatar'%>
    <%else%>
      <%= image_tag ("human.png"), class:'avatar'%>
    <% end %>
  </div>
  <div class='user-header-profile'>
    <p class='user-profile-text'>
    ここに紹介文が入ります
    </p>
  </div>
  <div class='follow-wrapper'>
    <%# <div class='follow-container'> %>
        <%# <%= render "follow_form", user: @user %> 
    <%# </div> %>
    <div class="follower">
        <%= link_to followers_user_path(@user.id) do %>
          <h5 style="color: black;">フォロワー<%= @user.followers.count %>人</h5>
        <% end %>
    </div>
    <div class="follow">
        <%= link_to following_user_path(@user.id) do %>
          <h5 style="color: black;">フォロー<%= @user.following.count %>人</h5>
        <% end %>
    </div>
  </div>

  <div class='accbox'>
      <!--ラベル1-->
    <label for="label1">
      <%= image_tag 'setting.png' %>
    </label>
    <input type="checkbox" id="label1" class="cssacc" />
    <div class="accshow">
      <!--ここに隠す中身-->
      <%= link_to 'プロフィール編集', edit_user_registration_path%><br>
      <%= link_to 'アカウント消去', user_registration_path, method: :delete %>
    </div>
    <!--//ラベル1-->
  </div>
</div>

<div class='top-post-wrapper'>
  <% @photos.each do |photo| %>
    <%= render 'photos/photo', photo: photo %>
  <% end %>
</div>
