<%= render 'shared/top_header'%>

<div class='user-profile-container'>
  <div class='user-account-container'>
  </div>
  <div class='user-photo-container'>
    <% @photos.each do |photo| %>
      <div class='top-post-wrapper'>
        <div class='top-post-container'>
          <div class='post-user-container'>
            <div class='post-user-header'>
              <div class='post-user-icon'>
                ○
              </div>
              <%= link_to photo.user.nickname, user_path(photo) , class: 'post-user-name'%>
            </div>

            <div class='post-main-photo'>
              <div class='post-user-label'>
                  ○
                </div>

              <div class='post-user-main'>
                <%= image_tag photo.image.variant(resize:'1920x1920').processed, class: 'user-photo'%>
              </div>
            </div>

            <div class='post-footer-container'>
              <div class='post-comment-btn'>
                ○
              </div>
              <div class='post-favo-btn'>
                <p><%=link_to "フォロー", follows_user_path(@user.id) %></p>
                <p><%=link_to "フォロワー", followers_user_path(@user.id) %></p>
                <% if current_user != @user %>
                    <% if @user.followed_by?(current_user) %>
                        <p><%=link_to "フォロー済み", user_relationship_path(@user.id), method: :delete %></p>
                    <% else %>
                        <p><%=link_to "フォローする", user_relationships_path(@user.id), method: :post %></p>
                    <% end %>
                <% end %>
              </div>
            </div>
        
          <% end %>
          </div>
        </div>
      </div>
  </div>
</div>