<%= render "homes_header"%>
<div class='homes-wrapper'>
  <div class='home-photo'>
    <%= image_tag 'photo.JPG'%>
    <p>
      あの場所で<br><span> 写真</span>を撮ろう。
    </p>
  </div>
</div>

<div class='explanation-wrapper'>
  <div class='msk'>
    <div class='second-container'>
      <%= image_tag ('Photoroke_logo.svg'), class: 'photo-roke-img'%>
      <p class='photo-roke-text'>とは？</p>
      <p class='exp-text'>
        撮影した場所と写真を共有できるアプリです。
      </p>
      <div class='photoroke-explanation-container'>
        <div class='map-illustration-container'>
          <%= image_tag ('map.png'), class: 'map-illustration'%>
        </div>
        <div class='photo-illustration-container'>
          <%= image_tag ('cameraman.JPG'), class: 'photo-illustration'%>
        </div>
      </div>
    </div>
  </div>
  <%= image_tag 'Photoroke_logo.svg'%>
  <p>photoロケとは？</p>
  <div class='explanation-container'>
    <%= image_tag class: 'map-illustration'%>
    <p class='explanation-text'>
      photoロケとは、写真と撮影した場所を共有できるアプリです。
    </p>
    <%= image_tag class: 'photo-illustration'%>
  </div>
  
</div>
