<%= javascript_pack_tag 'photo/preview' %>
<%= render 'shared/post_header'%>

  
  <div class='new-post-wrapper'>
    <%= form_with(model: @photo, local: true) do |f| %>  
    <%= render 'shared/error_messages', model: f.object %>
    <div class='photo-title-container'>
    <%= f.text_field :title, class: "photo-title", placeholder: "作品のタイトル(必須20文字まで)", maxlength: "20"%>
    </div>
    <div class='post-photo-item'>
      <div class="post-photo-upload">
        <p>
          クリックして写真をアップロード
        </p>
        <%= f.file_field :image, class: 'photo-image' %>
        <%= f.number_field :latitude, step: '0.000000000000001', id: "latitude-form" %>
        <%= f.number_field :longitude, step: '0.0000001', id: "longitude-form" %>
      </div>
      <div id = "image-list", class='image-list'>
      </div>
    </div>

    <div class='post-map-item'>

      <div class ='photo-map'>
        <h2>gmap</h2>

        <!-- 地名入力用のinputを追加 -->
        <input id="address" type="textbox" value="東京スカイツリー">

        <!-- buttonをクリックしたらcodeAddressを実行-->
        <input type="button" value="Encode" onclick="codeAddress()">
        <div id='map'>
        </div>

        <style>
        #map{
          height: 300px;
        }
        </style>

        <%= javascript_pack_tag 'photo/map' %>

        <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
      </div>

      <div class="center">
        <div class="btn-margin">
            <div id="get-position-btn" class="btn btn-outline-primary btn-lg">
                現在位置を取得する
            </div>
        </div>
        <div class="txt-margin">
            <p>緯度：<span id="latitude">text</span><span>度</span></p>
            <p>経度：<span id="longitude">???</span><span>度</span></p>
        </div>
      </div>
      <%= javascript_pack_tag 'photo/new' %>
    </div>

    <div class='post-introduction-item'>
      <%= f.text_area :explanation, class:"introduction-text", placeholder: "写真の場所の説明や、どのような機材を使って撮影したか共有してみよう！(1,000文字まで入力できます)
      例) 福岡タワーを海側からFUJIFILMのX-Pro2の16mmレンズで撮影しました！この辺りは、バスしか近くまで来れないので車で来ることをオススメします！" %>
    </div>

    <div class='post-new-btn'>
      <%= f.submit "投稿する" ,class: 'post-new' %>
    </div>
  <% end %>
  <%= image_tag @photo.image, id: 'image' if @photo.image.present? %>
</div>